<!DOCTYPE html>
<html ng-app="devicePrimaryPanelApp">
  <head>

    <meta charset="utf-8">
    <!--if IEmeta(http-equiv='x-ua-compatible', content='IE=9')
    -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GreatVapeCo</title>
    <meta name="description" content="GreatVape is the greatest vape shop in the IE">
    <meta name="keywords" content="greatvape, vape, great vape, great">
    <meta name="author" content="DeaMon">
    <!--
    Favicons
    ==================================================
    -->
    <link rel="icon" href="img/logo_V_icon_256.png" type="image/x-icon">
    <!-- Bootstrap-->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.css">
    <!--
    Slider
    ==================================================
    -->
    <link href="css/owl.carousel.css" rel="stylesheet" media="screen">
    <link href="css/owl.theme.css" rel="stylesheet" media="screen">
    <!--
    Stylesheet
    ==================================================
    -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/responsive.css">
    <link href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="js/angular/angular.min.js"></script>
    <script type="text/javascript" src="js/PrimaryController.js"></script>


  </head>
  <body ng-controller="PrimaryController as ctrl">

  <nav class="navbar navbar-default navbar-fixed-top" id="tf-menu">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display-->
      <div class="navbar-header">
        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="page-scroll" href="#tf-home"><img src="/img/logo_icon_64.png" vspace="10"></a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling-->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a class="page-scroll" href="#tf-home">Home</a></li>
          <li><a class="page-scroll" href="#tf-juices">Juices</a></li>
          <li><a class="page-scroll" href="#tf-hardware">Hardware</a></li>
          <li><a class="page-scroll" href="#tf-accessories">Accessories</a></li>
          <li><a class="page-scroll" href="#tf-partners">Partners</a></li>
          <li><a class="page-scroll" href="#tf-about">About</a></li>
          <li><a class="page-scroll" href="#tf-contact">Contact</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse-->
    </div>
    <!-- /.container-fluid-->
  </nav>
  <!--
  Home Page
  ==========================================
  -->
  <div class="text-center" id="tf-home">
    <div class="overlay">
      <div class="content"><a class="fa fa-angle-down page-scroll" href="#tf-location"></a></div>
    </div>
  </div>


  <!--
  Juices
  ==========================================
  -->
  <div class="text-center" id="tf-juices">

    <div class="juice-item">

      <div class="overlay">
      </div>

    </div>


    <div class="container">

      <div class="section-title center">
        <h2>Check out &#32;<strong>our juices</strong></h2>
        <div class="line">
          <hr>
        </div>
        <div class="clearfix"></div>
        <!--<small><em>vil) by Cicero, written in 45 BC. This book is a treatise on m a line in section 1.10.32.</em></small>-->
      </div>

      <div class="owl-carousel owl-theme" id="juices">


        <div class="item juice-item"><img class="juice_img overlay" src="https://scontent-lax3-2.cdninstagram.com/t51.2885-15/e35/22793885_788795951291306_1544405183771967488_n.jpg"></div>
        <div class="item juice-item"><img class="juice_img overlay" src="https://scontent-lax3-2.cdninstagram.com/t51.2885-15/e35/22430020_887668201392026_5717300464018522112_n.jpg"></div>
        <div class="item juice-item"><img class="juice_img overlay" src="https://scontent-lax3-2.cdninstagram.com/t51.2885-15/e35/22221059_2151692418190342_7702381764945117184_n.jpg"></div>
        <div class="item juice-item"><img class="juice_img overlay" src="https://scontent-lax3-2.cdninstagram.com/t51.2885-15/e35/22344195_138155853482947_6434574429245669376_n.jpg"></div>
        <div class="item juice-item"><img class="juice_img overlay" src="https://scontent-lax3-2.cdninstagram.com/t51.2885-15/e35/21688744_210990809436955_9060045241020579840_n.jpg"></div>
        <div class="item juice-item"><img class="juice_img overlay" src="https://scontent-lax3-2.cdninstagram.com/t51.2885-15/e35/20583150_274037396407451_5085526983983497216_n.jpg"></div>
        <div class="item juice-item"><img class="juice_img overlay" src="https://scontent-lax3-2.cdninstagram.com/t51.2885-15/e35/20393648_142999549615189_8073204890479886336_n.jpg"></div>
      </div>
      </div>
    </div>
  </div>
  <!--
  Hardware
  ==========================================
  -->
  <div class="text-center" id="tf-hardware">
    <div class="overlay">
      <div class="container">
        <div class="section-title center">
          <h2>Some of &#32;<strong>our Hardware</strong></h2>
          <div class="line">
            <hr>
          </div>
        </div>
        <div class="owl-carousel owl-theme" id="hardware">
          <div class="item"><img src="img/client/01.png"></div>
          <div class="item"><img src="img/client/02.png"></div>
          <div class="item"><img src="img/client/03.png"></div>
          <div class="item"><img src="img/client/04.png"></div>
          <div class="item"><img src="img/client/05.png"></div>
          <div class="item"><img src="img/client/06.png"></div>
          <div class="item"><img src="img/client/07.png"></div>
        </div>
      </div>
    </div>
  </div>
  <!--
  Accessories Section
  ==========================================
  -->
  <div class="text-center" id="tf-accessories">
    <div class="container">
      <div class="section-title center">
        <h2>Take a look at &#32;<strong>our accessories</strong></h2>
        <div class="line">
          <hr>
        </div>
        <div class="clearfix"></div><small><em>Lorem Ipsum comes s bn section 1.10.32.</em></small>
      </div>
      <div class="space"></div>
      <div class="row">
        <div class="col-md-3 col-sm-6 service"><i class="fa fa-desktop"></i>
          <h4><strong>Web design</strong></h4>
          <p>The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
        </div>
        <div class="col-md-3 col-sm-6 service"><i class="fa fa-mobile"></i>
          <h4><strong>Mobile Apps</strong></h4>
          <p>The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
        </div>
        <div class="col-md-3 col-sm-6 service"><i class="fa fa-camera"></i>
          <h4><strong>Photography</strong></h4>
          <p>The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
        </div>
        <div class="col-md-3 col-sm-6 service"><i class="fa fa-bullhorn"></i>
          <h4><strong>Marketing</strong></h4>
          <p>The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
        </div>
      </div>
    </div>
  </div>
  <!--
  Partners Section
  ==========================================
  -->
  <div class="text-center" id="tf-partners">
    <div class="overlay">
      <div class="container">
        <div class="section-title center">
          <h2>Some of &#32;<strong>our Partners</strong></h2>
          <div class="line">
            <hr>
          </div>
        </div>
        <div class="owl-carousel owl-theme" id="partners">
          <div class="item"><img src="img/client/01.png"></div>
          <div class="item"><img src="img/client/02.png"></div>
          <div class="item"><img src="img/client/03.png"></div>
          <div class="item"><img src="img/client/04.png"></div>
          <div class="item"><img src="img/client/05.png"></div>
          <div class="item"><img src="img/client/06.png"></div>
          <div class="item"><img src="img/client/07.png"></div>
        </div>
      </div>
    </div>
  </div>
  <!--
  About Us Page
  ==========================================
  -->
  <div id="tf-about">
    <div class="container">
      <div class="section-title center">
        <h2>A little <strong>about us</strong></h2>
      </div>
      <div class="line">
        <hr>
      </div>

      <div class="owl-carousel owl-theme row" id="team">
        <!--
        <div class="item" style="height: 315px">

        </div>-->
        <div class="item">
          <div class="thumbnail"><img class="img-circle team-img" src="img/team/01.jpg" alt="...">
            <div class="caption">
              <h3>Logan Monahan</h3>
              <p>CEO / Founder</p>
              <p>Do not seek to change what has come before. Seek to create that which has not.</p>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="thumbnail"><img class="img-circle team-img" src="img/team/02.jpg" alt="...">
            <div class="caption">
              <h3>Chade Blakemore</h3>
              <p>CEO / Founder</p>
              <p>Do not seek to change what has come before. Seek to create that which has not.</p>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
  </div>
  <!--
  Testimonials Section
  ==========================================
  -->
  <div class="text-center" id="tf-location">
    <div class="overlay">
      <div class="container"></div>
      <iframe src="//www.google.com/maps/embed/v1/place?q=Great Vape, Galena Street&key=AIzaSyDfxnULq0QsD7kNjrYuvV6vlcUZo_W-THc&zoom=17">
        <div class="section-title center">
          <h2><strong>Our clients’</strong> testimonials</h2>
          <div class="line">
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-md-offset-2"></div>
        </div>
      </iframe>
    </div>
  </div>
  <!--
  Contact Section
  ==========================================
  -->
  <div class="text-center" id="tf-contact">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="section-title center">
            <h2>Feel free to <strong>contact us</strong></h2>
            <div class="line">
              <hr>
            </div>
            <div class="clearfix"></div><small><em>Lorem very popular during the Renaissance, comes from a line in section 1.10.32.</em></small>
          </div>
          <form>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input class="form-control" id="exampleInputEmail1" type="email" placeholder="Enter email">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input class="form-control" id="exampleInputPassword1" type="password" placeholder="Password">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Message</label>
              <textarea class="form-control" rows="3"></textarea>
            </div>
            <button class="btn tf-btn btn-default" type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <nav id="footer">
    <div class="container">
      <div class="pull-left fnav">
        <p>ALL RIGHTS RESERVED. COPYRIGHT © 2017</p>
      </div>
      <div class="pull-right fnav">
        <ul class="footer-social">
          <li><a href="https://www.facebook.com/GreatVapeCo/" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://www.instagram.com/greatvapeco/" target="_blank"><i class="fa fa-instagram"></i></a></li>
          <li><a href="https://www.yelp.com/biz/great-vape-riverside" target="_blank"><i class="fa fa-yelp"></i></a></li>
        </ul>
      </div>
    </div>
  </nav>


  <!-- jQuery (necessary for Bootstrap's JavaScript plugins)-->
  <script src="js/jquery/jquery-3.0.0.min.js"></script>
  <script type="text/javascript" src="js/jquery/jquery.1.11.1.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed-->
  <script type="text/javascript" src="js/bootstrap/bootstrap.js"></script>
  <script type="text/javascript" src="js/effects/SmoothScroll.js"></script>
  <script type="text/javascript" src="js/jquery/jquery.isotope.js"></script>
  <script src="js/effects/owl.carousel.js"></script>
  <!-- Javascripts -->
  <script type="text/javascript" src="js/effects/main.js"></script>
  </body>
</html>